<!DOCTYPE html>
<html lang="ko">
<head>
<title><%=@title %></title>
<meta charset="utf-8">
<meta name="robots" content="<%=@meta_robot %>" />
<meta name="application-name" content="<%=@application_name %>" />
<meta name="keywords" content="<%=@meta_keyword %>" />
<meta name="description" content="<%=@meta_description %>" />
<meta name="author" content="Sleeping-Lion" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="NHfCmI5kSGiF4TnkDT5jm7xBO_kiiI16xbBSboJJ-14" />
<link rel="shortcut icon" href="/assets/favicon.ico" />
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<%= render :partial => 'layouts/header' %>
<div id="mom">
	<div id="main">
			<section class="sub_main">
				<% unless current_page?(root_path) %>
				<div class="page-header pull-left row-fluid">
					<h1 class="pull-left"><%=@controller_name %></h1>
					<ul class="breadcrumb pull-right">
						<li><%=link_to '홈',root_path %> <span class="divider">/</span></li>
						<% if @page_category %>
						<li><%=link_to @page_category %> <span class="divider">/</span></li>
						<% end %>
						<li class="active"><%=@controller_name %></li>
					</ul>
				</div>
				<% end %>
			<%=yield %>
		<div class="clearfix">&nbsp;</div>
		</section>
	</div>
</div>
<%= render :partial => 'layouts/footer' %>
<div class="slboard_overlay" id="overlay"></div>
 <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
